asgiref==3.3.1
astroid==2.3.1
astropy==3.2.1
autopep8==1.4.4
cached-property==1.5.2
certifi==2020.12.5
chardet==3.0.4
Click==7.0
cycler==0.10.0
Django==3.1.12
django-auth-ldap==2.1.1
django-cors-headers==3.3.0
django-filter==2.2.0
django-url-filter==0.3.15
djangorestframework==3.12.2
enum-compat==0.0.3
flake8==3.8.4
gunicorn==19.9.0
humanize==3.1.0
idna==2.10
importlib-metadata==3.7.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.2
psycopg2-binary==2.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0a1
pyflakes==2.2.0
pylint==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
python-ldap==3.2.0
pytz==2021.1
requests==2.25.0
scipy==1.5.4
Shapely==1.7.1
six==1.12.0
sqlparse==0.4.1
typed-ast==1.4.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==0.16.0
wrapt==1.11.2
zipp==3.4.1
celery==4.4.7
django-celery-results==1.2.1